.page {
  &__h1 {
    @include title(center, $base-color, 4rem);
  }
  &__p {
    @include title(center, black, 1rem);
  }
}

sections {
  background-color: $suscribe-color;

  h3 {
    color: $suscribe-title-color;
    text-decoration: underline;
  }
}
h5 {
  color: $carusel-title-color;
}

.cards {
  color: white;
  padding: 10rem 0 0;
  max-width: 280px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.cards-p {
  background-image: url("../img/productos.png");
  background-size: cover;
}
.cards-e {
  background-image: url("../img/empresa.png");
  background-size: cover;
}

.cards-a {
  background-image: url("../img/ayuda.png");
  background-size: cover;
}

.cards-c {
  background-image: url("../img/contacto.png");
  background-size: cover;
}

.cards-content {
  padding: 1.5rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
}

.cards-content__title {
  text-decoration: underline;
  text-decoration-color: lightgray;
}

.cards-content__body {
  color: rgba(255, 255, 255, 0.8);
}

.buttons {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.buttons:hover,
.buttons:focus {
  background-color: white;
  color: black;
}
